<a href="https://colab.research.google.com/github/nicolefleger/INTED_2025/blob/main/Nicole_m33.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade = int(input("Digite sua idade: "))
if idade >= 16:
    print("Você já pode votar.")

Digite sua idade: 57
Você já pode votar.

In [ ]:
nota1 = float(input("Primeira nota: "))
nota2 = float(input("Segunda nota: "))
media = (nota1 + nota2) / 2

if media >= 7:
    print("Aprovado!")
else:
    print("Reprovado.")

Primeira nota: 57
Segunda nota: 45
Aprovado!

In [ ]:
temp = float(input("Temperatura: "))

if temp < 15:
    print("Fria")
elif temp < 25:
    print("Agradável")
elif temp < 35:
    print("Quente")
else:
    print("Muito quente")

Temperatura: 34
Quente

In [ ]:
num = int(input("Digite um número: "))

if num % 2 == 0:
    print("Par")
else:
    print("Ímpar")

Digite um número: 46
Par

In [ ]:
sal = float(input("Salário atual: "))

if sal <= 2000:
    novo = sal * 1.10
elif sal <= 5000:
    novo = sal * 1.07
else:
    novo = sal * 1.05

print("Novo salário:", novo)

Salário atual: 56788
Novo salário: 59627.4

In [ ]:
a = float(input("Valor 1: "))
b = float(input("Valor 2: "))
c = float(input("Valor 3: "))

maior = a
if b > maior:
    maior = b
if c > maior:
    maior = c

print("Maior número:", maior)

Valor 1: 45
Valor 2: 47
Valor 3: 49
Maior número: 49.0

In [ ]:
ano = int(input("Ano: "))

if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    print("Ano bissexto")
else:
    print("Ano normal")

Ano: 2024
Ano bissexto

In [ ]:
idade = int(input("Idade: "))

if idade < 12:
    print("Ingresso infantil")
else:
    print("Ingresso adulto")

Idade: 56
Ingresso adulto

In [ ]:
cod = int(input("Código (1-3): "))

if cod == 1:
    print("Produto: Maçã")
elif cod == 2:
    print("Produto: Banana")
elif cod == 3:
    print("Produto: Laranja")
else:
    print("Código inválido")

Código (1-3): 3
Produto: Laranja

In [ ]:
h = int(input("Hora (0-23): "))

if h < 12:
    print("Bom dia!")
elif h < 18:
    print("Boa tarde!")
else:
    print("Boa noite!")

Hora (0-23): 5
Bom dia!

In [ ]:
soma = 0

while True:
    n = float(input("Número (0 para parar): "))
    if n == 0:
        break
    soma += n

print("Soma total:", soma)

Número (0 para parar): 56
Número (0 para parar): 89
Número (0 para parar): 0
Soma total: 145.0

In [ ]:
senha = ""

while senha != "python123":
    senha = input("Digite a senha: ")

print("Bem-vindo!")

Digite a senha: 542400
Digite a senha: 542400
Digite a senha: python123
Bem-vindo!

In [ ]:
soma = 0
num = 1

while soma <= 100:
    print("Somando:", num)
    soma += num
    num += 1

Somando: 1
Somando: 2
Somando: 3
Somando: 4
Somando: 5
Somando: 6
Somando: 7
Somando: 8
Somando: 9
Somando: 10
Somando: 11
Somando: 12
Somando: 13
Somando: 14

In [ ]:
soma = 0
cont = 0

while True:
    idade = int(input("Idade (negativa para parar): "))
    if idade < 0:
        break
    soma += idade
    cont += 1

print("Média:", soma / cont)

Idade (negativa para parar): 32
Idade (negativa para parar): -98
Média: 32.0

In [ ]:
n = int(input("Número inicial: "))

while n >= 0:
    print(n)
    n -= 1

Número inicial: 3
3
2
1
0

In [ ]:
for i in range(1, 51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
n = int(input("Número: "))

for i in range(1, 10 + 1):
    print(f"{n} x {i} = {n*i}")

Número: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
palavra = input("Digite uma palavra: ")

for letra in palavra:
    print(letra)

Digite uma palavra: Amoeba
A
m
o
e
b
a

In [ ]:
contador = 0

for i in range(5):
    idade = int(input(f"Idade {i+1}: "))
    if idade > 18:
        contador += 1

print("Maiores de 18:", contador)

In [ ]:
maior = float(input("Número 1: "))

for i in range(2, 8):
    n = float(input(f"Número {i}: "))
    if n > maior:
        maior = n

print("Maior número:", maior)

Número 1: 6
Número 2: 9
Número 3: 0
Número 4: 1
Número 5: 5
Número 6: 2
Número 7: 6
Maior número: 9.0

In [ ]:
maior = ""
for i in range(4):
    tarefa = input(f"Tarefa {i+1}: ")
    if len(tarefa) > len(maior):
        maior = tarefa

print("Tarefa com mais caracteres:", maior)

Tarefa 1: 45
Tarefa 2: A
Tarefa 3: T
Tarefa 4: 6
Tarefa com mais caracteres: 45

In [ ]:
soma = 0

for i in range(2, 101, 2):
    soma += i

print("Soma dos pares:", soma)

Soma dos pares: 2550

In [ ]:
pos = neg = zero = 0

for i in range(10):
    n = float(input(f"Número {i+1}: "))
    if n > 0:
        pos += 1
    elif n < 0:
        neg += 1
    else:
        zero += 1

print("Positivos:", pos)
print("Negativos:", neg)
print("Zeros:", zero)

Número 1: 46
Número 2: 46
Número 3: 45
Número 4: 78
Número 5: 78
Número 6: 59
Número 7: 34
Número 8: 45
Número 9: 56
Número 10: 78
Positivos: 10
Negativos: 0
Zeros: 0

In [ ]:
for i in range(6):
    nome = input(f"Nome {i+1}: ")
    if nome.upper().startswith(("A", "C")):
        print(nome)

Nome 1: Ana
Ana
Nome 2: Carol
Carol
Nome 3: Bia
Nome 4: Ana Júlia
Ana Júlia
Nome 5: Cátia
Cátia
Nome 6: Beatriz

In [ ]:
while True:
    n = int(input("Número (999 para parar): "))
    if n == 999:
        break
    print("Você digitou:", n)

Número (999 para parar): 5372
Você digitou: 5372
Número (999 para parar): 6373
Você digitou: 6373
Número (999 para parar): 999

In [ ]:
for i in range(1, 21):
    if i % 4 == 0:
        continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [ ]:
soma = 0

for i in range(10):
    n = float(input(f"Número {i+1}: "))
    if n < 0:
        continue
    soma += n

print("Soma dos positivos:", soma)

Número 1: 45
Número 2: 40
Número 3: 80
Número 4: 70
Número 5: 90
Número 6: 100
Número 7: 80
Número 8: 50
Número 9: 60
Número 10: 60
Soma dos positivos: 675.0